[versions]
buildout.sanitycheck = 1.0.2
collective.recipe.backup = 4.1.0
collective.z3cform.datagridfield = 1.5.3
jsonlib-python3 = 1.6.1
pymongo = 3.12.3
bobtemplates.plone = 4.1.4
collective.checkdocs = 0.2
collective.beaker = 1.0b3dev-r239026
mr.bob = 1.0.0
regex = 2019.8.19
case-conversion = 2.1.0
pytest = 6.1.1
Beaker = 1.11.0
axe-selenium-python = 2.1.6
iniconfig = 1.0.1
setuptools = 51.3.3
setuptools-git = 1.2
collective.recipe.supervisor = 1.0.0
supervisor = 4.2.1
z3c.recipe.usercrontab = 1.5
importlib-metadata=3.6
SecretStorage = 3.3.1
asn1crypto = 1.4.0
dnspython = 2.1.0
email-validator = 1.1.2
geographiclib = 1.50
jeepney = 0.6.0
keyring = 23.0.0
plone.formwidget.recaptcha = 2.3.0
cachetools = 4.2.1
cssutils = 1.0.2
et-xmlfile = 1.0.1
five.formlib = 2.2
geopy = 2.1.0
html2text = 2020.1.16
jdcal = 1.4.1
nameparser = 1.0.6
openpyxl = 3.0.6
reportlab = 3.5.65
vobject = 0.9.6.1
xlrd3 = 1.0.0
zope.app.form = 5.1.0
emails = 0.6
premailer = 3.7.0
docxtpl = 0.11.3
python-docx = 0.8.10

## SIGUV Plone Ecosystem ##
siguv.policy = 1.1
plonetheme.tokyo = 0.7.0
plonetheme.siguv = 1.9
collective.sidebar = 1.5.0
bgetem.videoembed = 1.1
nva.folderbehaviors = 3.5
nva.frontpage = 1.8
nva.kurzfassung = 1.14
nva.restapiplus = 1.0
nva.viewlets = 1.10
nva.testbootstrap = 1.0
nva.footerviewlet = 1.3
nva.imagerights = 10.2
nva.flexfolder = 1.0
nva.webcode = 1.1
nva.siguvportlets = 1.5
## End SIGUV Plone Ecosystem ##

## BG ETEM Internet Ecosystem ##
Products.EasyNewsletter = 5.0.6
collective.easyform = 3.1.1
wildcard.media = 2.1.0
bgetem.betriebsanmeldung = 1.13
bgetem.formviews = 1.1
bgetem.ipa = 1.1
bgetem.nine = 1.5
easynewsletter.bgetem = 1.4
nva.kampagne = 1.6
nva.newsletterportlet = 1.1
nva.readspeaker = 1.2
nva.tabsuche = 1.1
nva.webcodelink = 1.3
bgetem.customEasyForm = 1.0a1
bgetem.podcast = 1.1
bgetem.excludesearch = 1.0
etem.versicherungsrechner = 1.1
bgetem.presssubscription = 1.1
bgetem.rights = 1.0
## End BG ETEM Internet Ecosystem ##

## UK-Berlin Selbstverwaltung Ecosystem ##
xlrd = 2.0.1
## End UK-Berlin Selbstverwaltung Ecosystem ##

## Plone Security Hotfixes ##
Products.PloneHotfix20210518 = 1.3
## End Plone Security Hotfixes ##

## Python 3.10 Kompatibilitaet ##
html5lib = 1.1
typing = 
typing-extensions = 
python-dotenv = 0.21.0
importlib-resources = 5.10.0
importlib-metadata = 5.0.0
zipp = 3.1.0
pyscss = 1.4.0
## End Python 3.10 Kompatibilitaet ##

## BGHW -Intranet##
node.ext.ldap = 1.0
node.ext.ugm = 1.0
pas.plugins.ldap = 1.8.1
plumber = 1.7
pyasn1 = 0.4.8
pyasn1-modules = 0.2.8
yafowil = 3.0
yafowil.plone = 4.0.10
WTForms = 3.0.1
bda.cache = 1.3.0
bghw.plonewidget = 1.0
collective.rating = 1.1.1
collective.wtforms = 1.0a6
node = 1.0
odict = 1.9.0
passlib = 1.7.4
python-ldap = 3.4.3
python-memcached = 1.59
webresource = 1.1
yafowil.widget.array = 1.7
yafowil.widget.dict = 1.8
yafowil.yaml = 1.3.1
argparse = 1.4.0
isodate = 0.6.1
requests-file = 1.5.1
xlwt = 1.3.0
zeep = 4.1.0
bgetem.serviceboxes = 2.0
bghw.funktionsgruppen = 1.0
bghw.intranetcustoms = 1.1
bghw.intranetstart = 1.2
bghw.likebutton = 2.2
bghw.marktplatz = 1.0
bghw.mitarbeitersuche = 1.2
bghw.neuemitarbeiter = 1.0
bghw.revisionsstand = 1.1
bghw.NewsTicker = 2.1
bghw.revissionsstand = 1.0
bghw.stammblatt = 1.0
bghw.stellenanzeige = 1.0
bghw.supportformular = 1.0
edi.biteapi = 1.1
uvc.extprofile = 1.1
bghw.kontoabfrage = 1.0
bghw.unfallbelastung = 1.0
Products.WebServerAuth = 10.7.5
superlance = 2.0.0
## End BGHW-Intranet##

## collective.exportimport ##
collective.exportimport = 1.6
pyrsistent = 0.18.1
hurry.filesize = 0.9
ijson = 3.1.4
collective.relationhelpers = 1.6
## End collective.exportimport ##

## PWA ##
edi.checkapp = 1.3
edi.ellamedien = 1.1
apply = 1.6
## End PWA ##
